In [15]:
4 % 2

0

In [16]:
4 ** 2

16

In [17]:
4 // 2

2

In [18]:
4 / 2

2.0

In [19]:
(2 + 3) ** 2 / 5

5.0

## Data Types

### Numeric

In [20]:
x = 5 
type(x)

int

In [21]:
y = 2,5
type(y)

tuple

In [22]:
y = 2.5
type(y)

float

In [23]:
z = 1 + 2j # Karmaşık sayi için j kullanilir.
type(z)

complex

In [24]:
a = 0
type(a)

int

In [ ]:
n = ""
type(n)

str

In [27]:
b = 1
type(b)

int

In [28]:
c = True
type(c)

bool

In [31]:
print (type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [32]:
print (x, y, z)

5 2.5 (1+2j)

In [33]:
print (type(a))

<class 'int'>

## Sequence
### str

In [34]:
" I'am a python programmer. "

" I'am a python programmer. "

In [ ]:
a = "Selam "
b = "Python"
a + b # concat

'Selam Python'

In [37]:
# string veriler immutable
a[0]

'S'

In [38]:
a[:3] # 3.indexe kadar

'Sel'

In [39]:
a[0] = "A"
print (a)

TypeError: 'str' object does not support item assignment

### list

In [40]:
l = [1, 2, 3, 4]
type(l)

list

In [42]:
my_list = [1, 2, [2, 3, 4]]
print (my_list[2])

[2, 3, 4]

In [ ]:
# listeler immutable değildir, değiştirilebilir.
my_list[1] = 0
my_list

[1, 0, [2, 3, 4]]

In [45]:
yeni_liste = ['ibrahim','Selma']
type(yeni_liste)

list

In [46]:
yeni_liste[0]

'ibrahim'

In [47]:
yeni_liste[0] = 'ibrahimselma'
yeni_liste

['ibrahimselma', 'Selma']

### tuple

In [48]:
t = (1, 2, 3, 4)
print(type(t))

<class 'tuple'>

In [49]:
t_2 = (False, True, 2, 'Selma')
type(t_2)

tuple

In [51]:
l_2 = [False, True, 2, 'Selma']
type(l_2)

list

In [52]:
# tuple immutable, değiştirlemez.
t_2 = (False, True, 2, 'Selma')
t_2[0]

False

In [ ]:
print (t_2[3])
print (type(t_2[-1]))

In [ ]:
print(2, 3, True) # sep: str I None ="",
print('Hello') # end: str I None ="\n" (alt satıra geçer),

2 3 True
Hello

In [56]:
print('TechPro')
print('Education')

TechPro
Education

In [55]:
print('TechPro', end = ' ' )
print('Education')

TechPro Education

In [58]:
print('Selam', 'Naber', sep = ' \n' )

Selam
Naber

In [59]:
print('Selam', 'Naber', sep = ' * ' )

Selam * Naber

### Type Conversion

str()

In [ ]:
sayi = 42
str_sayi = str(sayi) # int to str
print(sayi, end = " * * * ")
print(str_sayi, end =" # # # ")
print(type(sayi), end ="\n")
print(type(str_sayi))

42 * * * 42 # # # <class 'int'>
<class 'str'>

In [63]:
str(2.5)

'2.5'

In [64]:
str(False)

'False'

In [65]:
print ("Boolean veriler: ", False, True, sep="\n")

Boolean veriler:
False
True

In [66]:
a ='False'
type(a)

str

In [ ]:
a = False # Boolean için kullanım 
type(a)

bool

In [69]:
a = false
type(a)

NameError: name 'false' is not defined

int()

In [70]:
int(2.5)

2

In [71]:
int('123')

123

In [73]:
x = '345'
y = int(x)
print(" x'in veri tipi: ", type(x), " y'in veri tipi: ", type(y), sep="\n")

 x'in veri tipi:
<class 'str'>
 y'in veri tipi:
<class 'int'>

In [74]:
x

'345'

In [75]:
y

345

In [76]:
int('TechPro')

ValueError: invalid literal for int() with base 10: 'TechPro'

In [77]:
int(True)

1

In [78]:
int(False)

0

In [79]:
int(2.5)

2

In [80]:
int(1+1j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [82]:
x, y, z = 'python', 3.14, 9
print(x, y, z, sep="\n")

python
3.14
9

In [83]:
print("x : ", x)
print("y : ", y)   
print("z : ", z)

x :  python
y :  3.14
z :  9

### float()

In [84]:
float(2)

2.0

In [85]:
float(2.5)

2.5

In [86]:
float(0)

0.0

In [87]:
float(5/8)

0.625

In [88]:
float('selam')

ValueError: could not convert string to float: 'selam'

In [89]:
float(True)

1.0

In [90]:
int(float(True))

1

In [91]:
int(float(3.14))

3

### Dictionary data type

In [93]:
x = {'ad' : 'ibrahim', 'soyad' : 'sağlam', 'yas' : 34}
type(x)

dict

In [94]:
y = dict(ad = 'ibrahim', soyad = 'sağlam', yas = 34)

In [95]:
x.keys()

dict_keys(['ad', 'soyad', 'yas'])

In [96]:
x.values()

dict_values(['ibrahim', 'sağlam', 34])

### set data type

In [98]:
a = {'Elma', 'Armut', 'Muz'}
print(a)
type(a)

{'Armut', 'Elma', 'Muz'}

set

In [99]:
liste = [1,2,3,3,4,4,1,5,2]
temiz_liste = set(liste)
print(liste)
print(temiz_liste)

[1, 2, 3, 3, 4, 4, 1, 5, 2]
{1, 2, 3, 4, 5}

In [100]:
type(temiz_liste)

set

In [101]:
type(liste)

list

In [102]:
liste_2 = list(temiz_liste)
print(liste_2)
print(type(liste_2))

[1, 2, 3, 4, 5]
<class 'list'>

In [103]:
liste = [1,2,3,3,4,4,1,5,2]
temiz_liste = list(set(liste))
print(liste)
print(temiz_liste)

[1, 2, 3, 3, 4, 4, 1, 5, 2]
[1, 2, 3, 4, 5]

In [104]:
set_1 = {'Zeytin', 'Elma', 'Muz'}
print(set_1)

{'Zeytin', 'Elma', 'Muz'}

### Practice