# Tuples

In [ ]:
()
tuple()

In [ ]:
# immutable
# iterable

In [1]:
my_tuple = (1, 2, "3", "Hello", True)

In [2]:
my_tuple

(1, 2, '3', 'Hello', True)

In [3]:
type(my_tuple)

tuple

In [4]:
print(tuple("techpro education"))

('t', 'e', 'c', 'h', 'p', 'r', 'o', ' ', 'e', 'd', 'u', 'c', 'a', 't', 'i', 'o', 'n')

In [5]:
name = "İbrahim"
tuple(name)

('İ', 'b', 'r', 'a', 'h', 'i', 'm')

In [6]:
tuple(1453)   # tuple() metodu iterable argüman alır.

TypeError: 'int' object is not iterable

In [7]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [8]:
a = [1,2,3,4]

In [9]:
b = tuple(a)

In [10]:
b

(1, 2, 3, 4)

In [11]:
b[0]  # tuple iterable

1

In [12]:
a[0]  # list iterable

1

In [13]:
a[0] = 5  # list mutable
a

[5, 2, 3, 4]

In [14]:
b[0] = 5  # tuple immutable
b

TypeError: 'tuple' object does not support item assignment

In [15]:
tuple(range(1,20,5))

(1, 6, 11, 16)

In [16]:
x = (1)
type(x)

int

In [17]:
x = (1,)
type(x)

tuple

In [18]:
tuple("techpro",)

('t', 'e', 'c', 'h', 'p', 'r', 'o')

In [19]:
tuple_1 = "x", "y", 3, 1.5
tuple_1

('x', 'y', 3, 1.5)

In [20]:
type(("hello",))

tuple

In [22]:
type(("hello"))

str

In [21]:
3,14

(3, 14)

In [23]:
type((3,14))

tuple

In [24]:
type(3,14)

TypeError: type() takes 1 or 3 arguments

In [25]:
type(3.14)

float

In [26]:
("Ayşe", "Uluğbek") + ("Mukaddes",)

('Ayşe', 'Uluğbek', 'Mukaddes')

In [27]:
("Ayşe", "Uluğbek") * 2

('Ayşe', 'Uluğbek', 'Ayşe', 'Uluğbek')

## Indexing

In [28]:
tuple_2 = (7, 8, "max", False, 234, [1,2,3], (5,6,7))
tuple_2

(7, 8, 'max', False, 234, [1, 2, 3], (5, 6, 7))

In [29]:
tuple_2[2]

'max'

In [30]:
tuple_2[2][1]

'a'

In [31]:
tuple_2[-1][2]

7

In [32]:
"ali", "mehmet" + "ali"

('ali', 'mehmetali')

In [33]:
"ali" "mehmet" + "ali"

'alimehmetali'

In [34]:
tuple_2

(7, 8, 'max', False, 234, [1, 2, 3], (5, 6, 7))

In [35]:
tuple_2[5].append(4)
tuple_2

(7, 8, 'max', False, 234, [1, 2, 3, 4], (5, 6, 7))

In [36]:
type(tuple_2[5])

list

In [37]:
type(tuple_2[3])

bool

In [38]:
del tuple_2[3]

TypeError: 'tuple' object doesn't support item deletion

In [39]:
del tuple_2[5][0]

In [40]:
tuple_2

(7, 8, 'max', False, 234, [2, 3, 4], (5, 6, 7))

In [41]:
del tuple_2

In [42]:
tuple_2

NameError: name 'tuple_2' is not defined

## len()

In [43]:
tuple_3 = (2, 4, [1,2,3], "Ayşe", "Fatma")

In [44]:
len(tuple_3)

5

In [46]:
len(tuple_3[2])

3

## index()

In [45]:
tuple_3.index("Ayşe")

3

In [47]:
(1,2,2,3,3,3,1,3,2,1,5,6).index(1)  # verilen elemanın ilk gördüğü yerdeki indeksini verir.

0

## count()

In [48]:
(1,2,2,3,3,3,1,3,2,1,5,6).count(3)

4

Kullanıcıdan iki tane nesne isteyin, girilen nesneler int ise bunların toplamını veren programı yazın.

In [50]:
a = input("Herhangi bir şey yazınız.")
b = input("Herhangi bir şey yazınız.")

if a.isnumeric() and b.isnumeric():
    print(int(a) + int(b))
else:
    print("Girilen değerler sayısal değildir.")

5

In [51]:
a = input("Herhangi bir şey yazınız.")
b = input("Herhangi bir şey yazınız.")

if a.isdigit() and b.isdigit():
    print(int(a) + int(b))
else:
    print("Girilen değerler sayısal değildir.")

8

In [52]:
a = input("Herhangi bir şey yazınız.")
b = input("Herhangi bir şey yazınız.")

if a.isdecimal() and b.isdecimal():
    print(int(a) + int(b))
else:
    print("Girilen değerler sayısal değildir.")

12

In [53]:
ord("a")

97

In [54]:
chr(98)

'b'

In [55]:
ord("A")

65

# Dictionaries

In [57]:
{}

{}

In [ ]:
#dict()

In [56]:
dict_1 = {"key1": "value1", "key2": "value2", "key3": "value3"}
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [58]:
dict_1.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [59]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [60]:
dict_1.values()

dict_values(['value1', 'value2', 'value3'])

In [61]:
dict_1[0]  # indexleme yok

KeyError: 0

In [62]:
dict_1["key2"]

'value2'

In [63]:
dict_1["value1"]

KeyError: 'value1'

In [65]:
dict_2 = {False : 0, True : 1}
dict_2

{False: 0, True: 1}

In [66]:
dict_2[True]

1

In [67]:
dict_3 = {1: ["a", "b", "c"], 2: (3, 4)}
dict_3

{1: ['a', 'b', 'c'], 2: (3, 4)}

In [68]:
dict_3[1]  # index değil key

['a', 'b', 'c']

In [69]:
dict_4 = {1: ["a", "b", "c"], 1: (3, 4)}  # Aynı key birden fazlaysa sonuncuyu kabul eder.
dict_4

{1: (3, 4)}

In [70]:
dict_5 = dict(a = [1,2,3], b = "techpro", c = True)
dict_5

{'a': [1, 2, 3], 'b': 'techpro', 'c': True}

In [71]:
dict_5.keys()

dict_keys(['a', 'b', 'c'])

In [72]:
dict_5.values()

dict_values([[1, 2, 3], 'techpro', True])

In [73]:
dict(1 = "a", 2 = "b")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2857996102.py, line 1)

In [74]:
dict("1" = "a", "2" = "b")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1921019187.py, line 1)

In [75]:
dict(name1 = "Ayşe", name2 = "Betül")

{'name1': 'Ayşe', 'name2': 'Betül'}

In [77]:
dict_names = {"name1" : "Uluğbek", "name2" : "Ümit", "name3" : "Burak", "name4" : "Betül"}
dict_names

{'name1': 'Uluğbek', 'name2': 'Ümit', 'name3': 'Burak', 'name4': 'Betül'}

In [78]:
dict_names["name4"] = "Ayşe"   # mutable
dict_names

{'name1': 'Uluğbek', 'name2': 'Ümit', 'name3': 'Burak', 'name4': 'Ayşe'}

In [80]:
person_info = {"name" : ["Ali", "Veli"], "age": [20, 30]}
print(person_info["name"])

['Ali', 'Veli']

In [81]:
person_info["name"][1]

'Veli'

In [82]:
person_info["name"].append("Ayşe")

In [83]:
person_info["name"]

['Ali', 'Veli', 'Ayşe']

In [84]:
person_info

{'name': ['Ali', 'Veli', 'Ayşe'], 'age': [20, 30]}

In [85]:
person_info["age"].append(25)

In [86]:
person_info

{'name': ['Ali', 'Veli', 'Ayşe'], 'age': [20, 30, 25]}

## update()

In [87]:
person_info.keys()

dict_keys(['name', 'age'])

In [88]:
person_info["job"] = ["Teacher", "Doctor", "Devops Engineer"]

In [89]:
person_info

{'name': ['Ali', 'Veli', 'Ayşe'],
 'age': [20, 30, 25],
 'job': ['Teacher', 'Doctor', 'Devops Engineer']}

In [90]:
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [91]:
dict_1["key4"] = "value4"
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [92]:
dict_1.update({"key5" : "value5", "key6" : "value6"}) # yeni bir dict ekler.
dict_1

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5',
 'key6': 'value6'}

In [93]:
{1 : "bir", 2 : "iki"} + {3 : "üç", 4: "dört"} # concat yapılmaz

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [97]:
dict_1["key5", "key6"] = "value5", "value6"  # Birden fazla key eklemek için update() metodu kullanılır.

In [95]:
"key5", "key6"

('key5', 'key6')

In [96]:
"value5", "value6"

('value5', 'value6')

In [98]:
dict_1

{'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5',
 'key6': 'value6',
 ('key5', 'key6'): ('value5', 'value6')}

## clear()

In [99]:
dict_1.clear()

In [100]:
dict_1

{}

In [101]:
dict_5

{'a': [1, 2, 3], 'b': 'techpro', 'c': True}

In [102]:
dict_5.clear()

In [103]:
dict_5

{}

In [104]:
dict_2

{False: 0, True: 1}

In [105]:
dict_3

{1: ['a', 'b', 'c'], 2: (3, 4)}

In [106]:
dict_3 = dict_3 | dict_2  # Python 3.9 ve sonrası için | işareti kullanılabilir.
dict_3

{1: 1, 2: (3, 4), False: 0}

In [107]:
dict_6 = {"İstanbul": "Yağışlı", "Ankara": "Karlı"} | {"İzmir": "Rüzgarlı", "Antalya": "Güneşli"}
dict_6

{'İstanbul': 'Yağışlı',
 'Ankara': 'Karlı',
 'İzmir': 'Rüzgarlı',
 'Antalya': 'Güneşli'}

In [108]:
dict_6.update(dict_2)
dict_6

{'İstanbul': 'Yağışlı',
 'Ankara': 'Karlı',
 'İzmir': 'Rüzgarlı',
 'Antalya': 'Güneşli',
 False: 0,
 True: 1}

## pop()

In [109]:
dict_6.pop()

TypeError: pop expected at least 1 argument, got 0

In [110]:
dict_6.pop("İstanbul")  # verilen keyi siler ve valuesunu yazdırır.

'Yağışlı'

In [111]:
dict_6

{'Ankara': 'Karlı',
 'İzmir': 'Rüzgarlı',
 'Antalya': 'Güneşli',
 False: 0,
 True: 1}

In [112]:
dict_6.pop("Karlı")

KeyError: 'Karlı'

In [113]:
dict_6.pop(0)

0

In [114]:
dict_6

{'Ankara': 'Karlı', 'İzmir': 'Rüzgarlı', 'Antalya': 'Güneşli', True: 1}

## get()

In [115]:
dict_6.get("İzmir")

'Rüzgarlı'

In [116]:
dict_6["İzmir"]

'Rüzgarlı'

## nested dicts

In [117]:
myFamily = {
    "child1": {
        "name": "John",
        "year": 2004
    },
    "child2": {
        "name": "Jane",
        "year": 2006
    },
    "child3": {
        "name": "Jim",
        "year": 2008}
}

In [118]:
myFamily

{'child1': {'name': 'John', 'year': 2004},
 'child2': {'name': 'Jane', 'year': 2006},
 'child3': {'name': 'Jim', 'year': 2008}}

In [119]:
myFamily.items()

dict_items([('child1', {'name': 'John', 'year': 2004}), ('child2', {'name': 'Jane', 'year': 2006}), ('child3', {'name': 'Jim', 'year': 2008})])

In [120]:
myFamily.get("child1")

{'name': 'John', 'year': 2004}

In [121]:
myFamily.get("child2").get("name")

'Jane'

In [122]:
myFamily.get("child3").update({"gender": "male"})
myFamily

{'child1': {'name': 'John', 'year': 2004},
 'child2': {'name': 'Jane', 'year': 2006},
 'child3': {'name': 'Jim', 'year': 2008, 'gender': 'male'}}

## in, not in

In [123]:
"e" in "hello"

True

In [124]:
"a" in "hello"

False

In [125]:
"l" not in "hello"

False

In [126]:
1 in [1, 2, 3]

True

In [127]:
myFamily

{'child1': {'name': 'John', 'year': 2004},
 'child2': {'name': 'Jane', 'year': 2006},
 'child3': {'name': 'Jim', 'year': 2008, 'gender': 'male'}}

In [128]:
"child1" in myFamily

True

In [129]:
"name" in myFamily

False

In [131]:
myFamily.values()

dict_values([{'name': 'John', 'year': 2004}, {'name': 'Jane', 'year': 2006}, {'name': 'Jim', 'year': 2008, 'gender': 'male'}])

In [130]:
"name" in myFamily.values()

False

In [132]:
"name" in myFamily["child1"]

True

In [133]:
'John' not in myFamily["child2"].values()

True

In [134]:
'John' in myFamily["child1"].values()

True

In [135]:
myFamily["child1"].values()

dict_values(['John', 2004])

In [136]:
"name" in myFamily.get("child3")

True

In [137]:
myFamily

{'child1': {'name': 'John', 'year': 2004},
 'child2': {'name': 'Jane', 'year': 2006},
 'child3': {'name': 'Jim', 'year': 2008, 'gender': 'male'}}

In [138]:
"Jim" not in myFamily.get("child3").values()

False

In [139]:
myFamily.get("child3").values()

dict_values(['Jim', 2008, 'male'])

In [140]:
list(myFamily.get("child3").values())

['Jim', 2008, 'male']

In [141]:
list(myFamily.keys())

['child1', 'child2', 'child3']